html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
}
body{
    background: url(/SRC/Index/1-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*- Section -*/
.section-sky{
    width: 100%;
    height: 100vh;  
    position: relative;
    transition: 0.3s ease;
}
.section-rooftop{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.3s ease;
}
.section-production, .section-sound{
    width: 100%;
    height: auto;  
    position: relative;
    margin-top: -10px;
    background: #eb613e;
    transition: 0.3s ease;
}
.section-graphic{
    width: 100%;
    height: auto;  
    position: relative;
    margin-top: -10px;
    background: #282828;
    transition: 0.3s ease;
}
/*- Section-1 -*/
.home-logo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    transition: 0.3s ease;
}
.home-logo img{
    width: auto;
    height: auto;
    transition: 0.3s ease;
}
.cloud-parent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.cloud-left,
.cloud-right {
    position: absolute;
    transform: translateY(-50%);
    transition: 0.3s ease;
}
.cloud-left img,
.cloud-right img {
    width: 100%;
    height: auto;
    transition: 0.3s ease;
}
.cloud-left{
    text-align: start;
    top: 30%;
    left: 0;
}
.cloud-right{
    text-align: end;
    top: 60%;
    right: 0;
}

/*-Section-Rooftop-*/
.billboard{
    position: relative;
    margin-top: -125px;
    margin-left: -10px;
    z-index: 4;
    transition: 0.3s ease;
}
.billboard-text{
    position: absolute;
    top: 18%;
    left: 13%;
    font-size: 5rem;
}
.search-input-border{
    position: absolute;
    top: 51%;
    left: 13%;
    padding: 10px;
    padding-left: 90px;
    width: 35%;
    height: 12%;
    border-radius: 20px;
    font-size: 2.5rem;
    background-color: white;
    border: solid 2px #333;
}
#searchbar{
    position: absolute;
    top: -2%;
    left: 10.75%;
    padding: 15px 10px 10px 10px;
    width: 80%;
    outline: none;
    background: none;
    border: none;
    font-size: 2.5rem;
}
#searchbutton{
    position: absolute;
    top: 21%;
    left: 1.3%;
    padding: 10px;
    border: none;
    background: none;
    transform: scale(0.075);
}
#clearbutton{
    position: absolute;
    top: -13%;
    left: 18.8%;
    padding: 10px;
    border: none;
    background: none;
    transform: scale(0.05);
}
.service-list-text{
    position: absolute;
    top: 65%;
    left: 13%;
    font-size: 2rem;
}
.service-button{
    padding: 15px 30px 10px 30px;
    outline: none;
    border: solid 2px white;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    text-decoration: underline;
    background-color: #282828;
    transition: 0.3s ease;
}
.service-button:hover{
    transform: scale(1.05);
}
.product-service{
    position: absolute;
    top: 72%;
    left: 13%;
}
.graphic-service{
    position: absolute;
    top: 72%;
    left: 25%;
}
.sound-service{
    position: absolute;
    top: 72%;
    left: 34.5%;
}
.illustration-service{
    position: absolute;
    top: 81%;
    left: 13%;
}
.animation-service{
    position: absolute;
    top: 81%;
    left: 25%;
}
.rooftop {   
    position: absolute;
    margin-top: 350px;
    z-index: -1;
    transition: 0.3s ease;
}
/*-Section-Production-*/
.gap-production{
    gap: 0rem;
}
.production-container{
    margin-left: 195px;
    margin-bottom: 100px;
    transform: scale(0.9);
    transition: 0.3s ease;
}
.pd-compressor{
    margin-top: 185px;
    margin-right: 50px;
    transition: 0.3s ease;
}
.pd-text{
    position: absolute;
    font-size: 2rem;
    color: white;
    margin-top: 230px;
    margin-left:155px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 10;
}
.pd-text:hover{
    color: #b1b1b1;
    transform: scale(1.05);
}
.pd-window-left, .pd-window-right{
    cursor: pointer;
    transition: 0.3s ease;
}
.pd-window-left{
    margin-top: -5px;
    margin-right: -200px;
}
/*-Section-Graphic-*/
.graphic-container{
    transition: 0.3s ease;
}
.gp-window{
    margin-top: 200px;
    margin-bottom: 170px;
    margin-left: -40px;
    transition: 0.3s ease;
}
.gp-window-left, .gp-window-middle, .gp-window-right{
    transition: 0.3s ease;
}
.gap-graphic{
    gap: 8rem;
    transition: 0.3s ease;
}
.gp-text{
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-top: -195px;
    margin-left: -1320px;
    cursor: pointer;
    transform: rotate(-6deg);
    transition: 0.5s ease;
}
.gp-text:hover{
    color: #b1b1b1;
    transform: scale(1.05) rotate(-6deg);
    transition: 0.3s ease;
}
.bird-pd-gp-container{
    width: 100%;
}
#bird{
    position: absolute;
    margin-top: -400px;
    margin-left: -1250px;
    height: auto;
    overflow: hidden;
    z-index: 5;
}
/*-section-sound-*/
.sound-container{
    margin-left: 100px;
    transition: 0.3s ease;
}
.sd-play-button{
    position: absolute;
    margin-top: -525px;
    margin-left: -1120px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
}
.sd-play-button:hover{
    transform: scale(1.05);
}
.sd-music{
    display: none;
}
.sd-left-window{
    margin-top: 150px;
    margin-bottom: 100px;
    transition: 0.3s ease;
}
.sd-right-window{
    margin-top: -147px;
    transform: scale(0.8);
    transition: 0.3s ease;
}
.sd-text{
    position: absolute;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    margin-top: -400px;
    margin-left: 160px;
    cursor: pointer;
    transform: rotate(-3.5deg);
    transition: 0.5s ease;
    z-index: 5;
}
.sd-text:hover{
    color: #b1b1b1;
    transform: scale(1.05) rotate(-3.5deg);
    transition: 0.3s ease;
}
.sd-cat{
    position: absolute;
    transform: scale(0.8);
    margin-left: 800px;
    z-index: 4;
    transition: 0.3s ease;
}

@media(max-width:1600px){
    /*-section-sky-*/
    .cloud-left{
        left: 0.5%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -135px;
        margin-left: 100px;
        transform: scale(0.9);
    }
    .rooftop {   
        margin-top: 290px;
        transform: scale(0.9);
    }
    /*-section-production*/
    .production-container{
        margin-left: 155px;
        transform: scale(0.75);
    }
    /*-section-graphic*/
    .graphic-container{
        transform: scale(0.8);
    }
    .gp-window{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    /*-section-sound-*/
    .sound-container{
        transform: scale(0.8);
    }
    .sd-left-window{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sd-play-button{
        margin-top: -580px;
    }
    .sd-right-window{
        margin-top: -195px;
    }
    .sd-text{
        margin-top: -450px;
    }
}
@media(max-width:1470px){
    /*-section-production*/
    .production-container{
        margin-left: 155px;
        transform: scale(0.7);
    }
    .pd-window-left{
        margin-left: -60px;
        margin-right: -220px;
    }
    /*-section-graphic*/
    .graphic-container{
        transform: scale(0.7);
    }
    /*-section-sound-*/
    .sound-container{
        transform: scale(0.75);
    }
    
}

@media(max-width:1400px){
    /*-section-sky-*/
    .home-logo img{
        transform: scale(0.9);
    }
    .cloud-left img,
    .cloud-right img{
        width: 80%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -155px;
        margin-left: 140px;
        transform: scale(0.8);
    }
    .rooftop {   
        margin-top: 225px;
        transform: scale(0.8);
    }
    /*-section-production*/
    .section-production{
        margin-top: -15px;
    }
}
@media(max-width:1330px){
    /*-section-production*/
    .production-container{
        margin-left: 145px;
        transform: scale(0.65);
    }
    .pd-window-left{
        margin-left: -60px;
        margin-right: -220px;
    }
}

@media(max-width:1230px){
    /*-section-production*/
    .production-container{
        margin-left: 135px;
        margin-bottom: 50px;
        transform: scale(0.6);
    }
    .pd-window-left{
        margin-left: -60px;
        margin-right: -220px;
    }
    /*-section-graphic*/
    .graphic-container{
        transform: scale(0.7);
    }
    .gp-window{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .gap-graphic{
        gap: 4rem;
    }
    .gp-text{
        margin-top: -195px;
        margin-left: -1230px;
    }
    /*-section-sound-*/
    .sound-container{
        transform: scale(0.7);
    }
}


@media(max-width:1130px){
    /*-section-production*/
    .production-container{
        margin-left: 120px;
        transform: scale(0.55);
    }
    .pd-window-left{
        margin-left: -60px;
        margin-right: -220px;
    }
    /*-section-graphic*/
    .graphic-container{
        transform: scale(0.6);
    }
    .gp-window{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .gap-graphic{
        gap: 5rem;
    }
    .gp-text{
        margin-top: -195px;
        margin-left: -1230px;
    }
    /*-section-sound-*/
    .sound-container{
        transform: scale(0.65);
    }
}

@media(max-width:1100px){
    /*-section-sky-*/
    .home-logo img{
        transform: scale(0.8);
    }
    .cloud-left img,
    .cloud-right img{
        width: 60%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -185px;
        margin-left: 150px;
        transform: scale(0.7);
    }
    .rooftop {   
        margin-top: 145px;
        transform: scale(0.7);
    }
    /*-section-production*/
    .section-production{
        margin-top: -95px;
    }
    /*-section-graphic*/
    .gp-window{
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media(max-width:1030px){
    .production-container{
        display: flex;
        flex-direction: column !important;
    }
    .production-container{
        margin-left: 0px;
        transform: scale(1);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 100px;
    }
    .pd-compressor{
        margin-top: 100px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: 145px;
    }
    .pd-window-left{
        margin-left: 0px;
        margin-right: 0px;
    }
    /*-section-graphic*/
    .graphic-container{
        transform: scale(1);
    }
    .gp-window{
        display: flex;
        flex-direction: column !important;
        margin-top: 200px;
        margin-bottom: 150px;
        margin-left: 0px;
    }
    .gp-window-left, .gp-window-middle{
        margin-bottom: 50px;
    }
    .gp-window-left{
        margin-left: -50px;
    }
    .gp-text{
        margin-top: -1560px;
        margin-left: -190px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(1);
    }
    .sound-container{
        display: flex;
        flex-direction: column !important;
        margin-left: 0px;
    }
    .sd-left-window{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .sd-right-window{
        margin-bottom: 80px;
        margin-left:-20px;
    }
    .sd-play-button{
        margin-top: -1115px;
        margin-left: -365px;
    }
    .sd-text{
        margin-top: 575px;
        margin-left: -380px;
    }
    .sd-cat{
        transform: scale(0.8);
        margin-top: 1000px;
        margin-left: 300px;
    }
}

@media(max-width:870px){
    /*-section-sky-*/
    .cloud-left img,
    .cloud-right img{
        width: 60%;
    }
    .cloud-left{
        top: 23%;
        left: 3%;
    }
    .cloud-right{
        top: 70%;
        right: 3%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -215px;
        margin-left: 180px;
        transform: scale(0.6);
    }
    .rooftop {   
        margin-top: 70px;
        transform: scale(0.6);
    }
    /*-section-production*/
    .section-production{
        margin-top: -175px;
    }
    .production-container{
        margin-left: 0px;
        transform: scale(0.8);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 50px;
    }
    .pd-compressor{
        margin-top: 0px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: 45px;
    }
    .pd-window-right{
        margin-bottom: -50px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.8);
    }
    .gp-window{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.8);
    }
    .sd-left-window{
        margin-top: 0px;
    }
    .sd-play-button{
        margin-top: -1235px;
    }
    .sd-right-window{
        margin-bottom: 0px;
    }
    .sd-text{
        margin-top: 460px;
    }
    .sd-cat{
        transform: scale(0.8);
        margin-top: 900px;
    }
    
}
@media(max-width:700px){
    /*-section-sky-*/
    .cloud-left{
        top: 20%;
    }
    .cloud-right{
        top: 77%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -245px;
        margin-left: 180px;
        transform: scale(0.5);
    }
    .rooftop {   
        margin-top: -10px;
        transform: scale(0.5);
    }
    /*-section-production*/
    .production-container{
        margin-left: 0px;
        transform: scale(0.6);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 50px;
    }
    .pd-compressor{
        margin-top: -300px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: -255px;
    }
    .pd-window-right{
        margin-bottom: -300px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.6);
    }
    .gp-window{
        margin-top: -250px;
        margin-bottom: -250px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.6);
    }
    .sd-left-window{
        margin-top: -200px;
    }
    .sd-play-button{
        margin-top: -1160px;
    }
    .sd-right-window{
        margin-bottom: -270px;
    }
    .sd-text{
        margin-top: 525px;
    }
}
@media(max-width:575.98px){
    /*-section-rooftop*/
    .billboard{
        margin-top: -245px;
        margin-left: 180px;
        transform: scale(0.4);
    }
    .rooftop {   
        margin-top: -57px;
        transform: scale(0.4);
    }
    /*-section-production*/
    .production-container{
        margin-left: 0px;
        transform: scale(0.5);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 50px;
    }
    .pd-compressor{
        margin-top: -400px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: -355px;
    }
    .pd-window-right{
        margin-bottom: -400px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.5);
    }
    .gp-window{
        margin-top: -350px;
        margin-bottom: -350px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.5);
    }
    .sd-left-window{
        margin-top: -250px;
    }
    .sd-play-button{
        margin-top: -1160px;
    }
    .sd-right-window{
        margin-bottom: -320px;
    }
    .sd-text{
        margin-top: 525px;
    }
}
@media(max-width:485px){
    /*-section-sky-*/
    .cloud-left{
        left: 0%;
    }
    .cloud-right{
        right: 0%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -285px;
        margin-left: 160px;
        transform: scale(0.35);
    }
    .rooftop {   
        margin-top: -120px;
        transform: scale(0.35);
    }
    /*-section-production*/
    .section-production{
        margin-top: -200px;
    }
    .production-container{
        margin-left: 0px;
        transform: scale(0.45);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 50px;
    }
    .pd-compressor{
        margin-top: -450px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: -405px;
    }
    .pd-window-right{
        margin-bottom: -450px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.45);
    }
    .gp-window{
        margin-top: -400px;
        margin-bottom: -400px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.45);
    }
    .sd-left-window{
        margin-top: -300px;
    }
    .sd-play-button{
        margin-top: -1210px;
    }
    .sd-right-window{
        margin-bottom: -325px;
    }
    .sd-text{
        margin-top: 480px;
    }
}
@media(max-width:375px){
    /*-section-sky-*/
    .home-logo img{
        transform: scale(0.7);
    }
    .cloud-left{
        left: -10%;
    }
    .cloud-right{
        right: -10%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -295px;
        margin-left: 140px;
        transform: scale(0.3);
    }
    .rooftop {   
        margin-top: -155px;
        transform: scale(0.3);
    }
    /*-section-production*/
    .section-production{
        margin-top: -220px;
    }
    .production-container{
        margin-left: 0px;
        transform: scale(0.4);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 50px;
    }
    .pd-compressor{
        margin-top: -525px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: -485px;
    }
    .pd-window-right{
        margin-bottom: -500px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.4);
    }
    .gp-window{
        margin-top: -450px;
        margin-bottom: -450px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.4);
    }
    .sd-left-window{
        margin-top: -350px;
    }
    .sd-play-button{
        margin-top: -1210px;
    }
    .sd-right-window{
        margin-bottom: -370px;
    }
    .sd-text{
        margin-top: 480px;
    }
}
@media(max-width:310px){
    /*-section-sky-*/
    .home-logo img{
        transform: scale(0.5);
    }
    .cloud-left{
        top: 30%;
    }
    .cloud-right{
        top: 70%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -305px;
        margin-left: 100px;
        transform: scale(0.25);
    }
    .rooftop {   
        margin-top: -190px;
        transform: scale(0.25);
    }
    /*-section-production*/
    .section-production{
        margin-top: -325px;
    }
    .production-container{
        margin-left: 0px;
        transform: scale(0.3);
    }
    .pd-compressor, .pd-window-left, .pd-window-right{
        margin-bottom: 150px;
    }
    .pd-compressor{
        margin-top: -525px;
        margin-right: 0px;
    }
    .pd-text{
        font-size: 2rem;
        margin-top: -485px;
    }
    .pd-window-right{
        margin-bottom: -750px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(0.3);
    }
    .gp-window{
        margin-top: -600px;
        margin-bottom: -600px;
    }
    /*-section-sound*/
    .sound-container{
        transform: scale(0.3);
    }
    .sd-left-window{
        margin-top: -400px;
    }
    .sd-play-button{
        margin-top: -1160px;
    }
    .sd-right-window{
        margin-bottom: -475px;
    }
    .sd-text{
        margin-top: 530px;
    }
}
@media(min-width:1921px){
    /*-section-sky-*/
    .cloud-left img,
    .cloud-right img{
        transform: scale(1.52);
    }
    .cloud-left{
        left: 10%;
    }
    .cloud-right{
        right: 10%;
    }
    /*-section-rooftop*/
    .billboard{
        margin-top: -50px;
        margin-left: -150px;
        transform: scale(1.3);
        transition: 0.3s ease;
    }
    .rooftop{
        width: 100%;
        margin-top: 490px;
    }
    .rooftop img{
        width: 100%;
    }
    /*-section-production*/
    .section-production{
        margin-top: 150px;
    }
    .production-container{
        transform: scale(1.3);
        margin-top: 300px;
        margin-bottom: 400px;
        margin-left: 280px;
    }
    /*-Section-graphic-*/
    .graphic-container{
        transform: scale(1.3);
        margin-bottom: 190px;
    }
    .gp-window{
        margin-top: 400px;
        margin-bottom: 300px;
    }
    /*-section-sound-*/
    .section-sound{
        border: solid 2px yellow;
    }
    .sound-container{
        margin-top: 70px;
        margin-left: 100px;
        transition: 0.3s ease;
    }
    .sd-play-button{
        position: absolute;
        margin-top: -750px;
        margin-left: -1480px;
        cursor: pointer;
        transition: 0.3s ease;
        z-index: 2;
    }
    .sd-music{
        display: none;
    }
    .sd-left-window{
        margin-top: 350px;
        margin-bottom: 350px;
        transform: scale(1.3);
        transition: 0.3s ease;
    }
    .sd-right-window{
        margin-top: -210px;
        margin-left: 250px;
        margin-bottom: 0px;
        transform: scale(1.1);
        transition: 0.3s ease;
    }
    .sd-text{
        position: absolute;
        text-align: center;
        font-size: 2.2rem;
        color: white;
        margin-top: -570px;
        margin-left: 270px;
        cursor: pointer;
        transform: rotate(-3.5deg);
        transition: 0.5s ease;
        z-index: 2;
    }
}